<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcyrux.fixture" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IngresarJugadores"
            android:label="@string/title_activity_ingresar_jugadores"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".mostrarJugadores"
            android:label="@string/title_activity_mostrar_jugadores"
            android:parentActivityName=".IngresarJugadores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arcyrux.fixture.IngresarJugadores" />
        </activity>
        <activity
            android:name=".CargarJugadores"
            android:label="@string/title_activity_cargar_jugadores"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arcyrux.fixture.MainActivity" />
        </activity>
        <activity
            android:name=".CargarEquipos"
            android:label="@string/title_activity_cargar_equipos"
            android:parentActivityName=".CargarJugadores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arcyrux.fixture.CargarJugadores" />
        </activity>
        <activity
            android:name=".Fixture"
            android:label="@string/title_activity_fixture"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arcyrux.fixture.MainActivity" />
        </activity>
        <activity
            android:name=".MostrarPartidos"
            android:label="@string/title_activity_mostrar_partidos"
            android:parentActivityName=".Fixture" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arcyrux.fixture.Fixture" />
        </activity>
        <activity
            android:name=".MostrarEquipos"
            android:label="@string/title_activity_mostrar_equipos"
            android:parentActivityName=".Fixture" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arcyrux.fixture.Fixture" />
        </activity>
    </application>

</manifest>
